<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
      
    </pages>
    
  </system.web>

  <connectionStrings>
    <add name="con" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\soham\SimSohhhhh\SimSohhh\SimSoh\SimSoh\WebSite2\App_Data\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\soham\SimSohhhhh\SimSohhh\SimSoh\SimSoh\WebSite2\App_Data\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
